<div class="row" id="misconduct-form">
  <div class="large-12">
    <h1>Contractor Misconduct</h1>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Contractor Name
            <input type="text" name="contractor" placeholder="Required" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label>Contracting Party
            <input type="text" placeholder="" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Year
            <input type="text" placeholder="" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Enforcement Agency
            <input type="text" placeholder="" />
          </label>
        </div>
      </div>
        <!-- <div class="row">
          <div class="large-2 columns">
            <label></br>
              <select>
                <option value="greater">Greater Than</option>
                <option value="less">Less Than</option>
              </select>
            </label>
          </div>
          <div class="large-10 columns">
            <label>$Amount
            <input type="text" placeholder="" />
          </label>
          </div>
        </div> -->
    </form>
    <div class="row">
      <div id="search-button">
        <button class="large-12" type="">Search</button>
      <div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div>

  <% options = {"contractor": params["contractor"], "contracting_party": params["contracting_party"], "date_year": params["date_year"], "enforcement_agency": params["enforcement_agency"], "instance": params["instance"]} %>

  <% incidents = Sunlight::Influence::EntitySearch.contractor_misconduct(options) %>

  <% @incidents.each do |incident| %>
  <table id="contractors-index-table">
    <thead>
      <th>Date</th>
      <th>Contractor</th>
      <th>Contracting Party</th>
      <th>Penalty</th>
      <th>Misconduct Type</th>
      <th>URL</th>
      <th>Instance</th>
      <th>Disposition</th>
      <th>Court Type</th>
      <th>Synopsis</th>
    </thead>

    <tbody>

      <tr><%= incident["disposition"] %></tr>
      <tr><%= incident["penalty_amount"] %></tr>
      <tr><%= incident["date_year"] %></tr>
      <tr><%= incident["enforcement_agency"] %></tr>
      <tr><%= incident["instance"] %></tr>
      <tr><%= incident["synopsis"]%></tr>
      <tr><%= incident["url"]%></tr>
      <tr><%= incident["contracting_party"]%></tr>
      <tr><%= incident["misconduct_type"]%></tr>
      <tr><%= incident["court_type"]%></tr>

    </tbody>

  <table>

<% end %>

<div>
