<h2><span class="data-box">Politicians Index</h2></span></div>

<div class="container" id="table-container">
  <table id="politician-index-table">
    <thead>
      <tr>
        <th>Picture</th>
        <th>Title</th>
        <th>Name</th>
        <th>Party</th>
        <th>State</th>
        <th>District</th>
        <!-- <th>In office</th>
        <th>Gender</th> -->
        <th>Birthdate</th>
        <!-- <th colspan="3"></th> -->
        <th>Link</th>
      </tr>
    </thead>

    <tbody>
      <% m = Madison.new %>
      <% @politicians.each do |politician| %>
        <tr>
          <td>
              <img src='https://s3.amazonaws.com/congress-media/bio-pictures/100x125/<%= politician.bioguide_id %>.jpg' />
          </td>
          <td><%= politician.title %></td>
          <td><%= politician.firstname %> <%= politician.last_name %></td>
          <td><%= party_abbrev(politician.party) %></td>
          <td><%= m.get_name(politician.state) %></td>

          <td><%= politician.district %></td>
          <td><%= politician.birthdate.to_date.to_formatted_s(:long_ordinal) %></td>
          <td><span id="pol-button"><%= link_to 'Show', politician %></span></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

</div>
