<div class="row">
<% m = Madison.new %>
<div id="name-container">
  <div class="name-container shadow"><span id="pol-name"><strong><%= @politician.title %>. <%= @politician.firstname %> <%= @politician.last_name %></strong> - <%= m.get_name(@politician.state) %>: <%= @politician.district %> (<%= @politician.party %>)</span></div>
</div>
</div>
<div class="row full-width">
  <ul class="tabs large-12 columns" id="pol-tab" data-tab>
        <li class="tab-title shadow active"><a href="#panel2-1">Bio</a></li>
        <li class="tab-title shadow" id="top-industries-button"><a href="#panel2-2">Industries</a></li>
        <li class="tab-title shadow" id="top-donors-button"><a href="#panel2-3">Top Orgs</a></li>
        <li class="tab-title shadow" id="history-button"><a href="#panel2-4">History</a></li>
        <li class="tab-title shadow" id="breakdown-button"><a href="#panel2-5">Breakdown</a></li>
  </ul>
</div>

  <div id="donors">

      <div class="tabs-content">
         <!--  tab 1 -->

      <div class="content active box-container" id="panel2-1">
        <div class="row">
        <div class="large-3 columns">
            <% m = Madison.new %>
            <strong><%= @politician.title %>. <%= @politician.firstname %> <%= @politician.last_name %></strong>
            </p>
            <div id='bio-photo'>
              <img src='https://s3.amazonaws.com/congress-media/bio-pictures/200x250/<%= @politician.bioguide_id %>.jpg' />
            </div>

              <div class="content-box">
                <br>
                <strong>Party:</strong>
                <%= party_abbrev(@politician.party) %>
                <br>
                <strong>State:</strong>
                <%= m.get_name(@politician.state) %>
                <br>
                <strong>District:</strong>
                <%= @politician.district %>
                <br>
                <strong>Birthday:</strong>
                <%= @politician.birthdate.to_date.to_formatted_s(:long_ordinal) %>
                <br>
            </div>
        <div>

    </div>
  </div>

          <div class="content-box large-9 columns">
            <% entity = Sunlight::Influence::EntitySearch.retrieve_overview(search: "#{@politician.firstname} #{@politician.last_name}") %>
            <%= entity["metadata"]["bio"].html_safe %>
          </div>
        </div>
</div>






         <!--  tab 2 -->
        <div class="content" id="panel2-2">
          <div class="row container full-width">
            <h3><span class="data-box">Top Donor Industries</span></h3>
            <div class="large-6 columns content-box">
              <div class="data-box data-spacer">
                <table class="formatted-data-table">
                  <thead class="t-head">
                    <tr>
                      <th>Category</th>
                      <th>Count</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                    <tbody>
                        <% data = donor_industries_chart(name: "#{@politician.firstname} #{@politician.last_name}", cycle: "2012") %>
                        <% chart = data.to_json.html_safe %>
                        <% name = "#{@politician.firstname} #{@politician.last_name}" %>
                        <% industries = top_industries(name: name, cycle:"2012") %>
                        <% industries.each do |industry| %>
                        <tr>
                          <td><%= industry["name"].downcase.capitalize %></td>
                          <td><%= industry["count"] %></td>
                          <td>$<%= industry["amount"] %></td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
              </div>
            </div>

              <div id="industry-chart" class="large-6 columns content-box chart-box">
              </div>

          </div>
        </div>






      <!-- tab 3 -->
        <div class="content" id="panel2-3">
          <div class="row full-width container">
            <h3><span class="data-box">Top Donor Organizations</span></h3>
            <div class="large-6 columns content-box">
              <div class="data-box">
               <table class="formatted-data-table">

                  <thead class="t-head">
                    <tr>
                      <th>Category</th>
                      <th>Count</th>
                      <th>Total</th>
                      <th>Employees</th>
                      <th>Direct</th>
                    </tr>
                  </thead>
                    <tbody>
                        <% first = @politician.firstname %>
                        <% last = @politician.last_name %>
                        <% contributors = top_contributors(name: name, cycle: "2012") %>
                        <% contributors.each do |contributor| %>
                        <tr>
                          <td><%= contributor["name"] %></td>
                          <td><%= contributor["total_count"] %></td>
                          <td>$<%= contributor["total_amount"] %></td>
                          <td>$<%= contributor["employee_amount"] %></td>
                          <td>$<%= contributor["direct_amount"] %></td>
                        </tr>
                      <% end %>
                    </tbody>

                </table>
              </div>
            </div>
              <div id="contributors-chart" class="large-6 columns chart-box"></div>
          </div>
        </div>

        <!-- Tab 4 -->

          <div class="content" id="panel2-4">
            <div class="row full-width container">
              <div class="row full-width">
                <h3><span class="data-box">Contribution Totals and Counts Over Time</span></h3>
                  <div id="history" class="large-10 columns chart-box shadow"></div>
              </div>
            </div>
          </div>
        <!-- Tab 5 -->

           <div class="content" id="panel2-5">
             <div class="row full-width container">
                <h3><span class="data-box">Contribution Breakdowns</span></h3>

                  <div id="breakdown-local" class="large-5 columns chart-box"></div>

                  <div id="breakdown-type"  class="large-5 columns chart-box"></div>
                </div>
            </div>
          </div>
      </div>


  </div>

<div>

<!-- Donors Charts -->
  <% data = donor_industries_chart(name: "#{@politician.firstname} #{@politician.last_name}", cycle: "2012") %>
  <% chart = data.to_json.html_safe %>

  <% data = donor_contributors_chart(name: "#{@politician.firstname} #{@politician.last_name}", cycle: "2012") %>

<!-- Contributors Chart -->
  <% contributors_chart = data.to_json.html_safe %>
  <% pol = collect_totals("#{@politician.firstname} #{@politician.last_name}") %>
  <% money = contribution_overview(pol) %>
  <% numbers = count_overview(pol) %>
  <% years = contribution_amount_key(money).to_json.html_safe %>
  <% dollars = contribution_amount_value(money).to_json.html_safe %>
  <% counts = contribution_count_value(numbers).to_json.html_safe %>

<!-- Breakdown Charts -->
  <% locals = local_breakdowns(name: "#{@politician.firstname} #{@politician.last_name}", cycle: "2012")%>
  <% puts locals %>
  <% puts locals["In-State"][1] %>

  <% types = contributor_type_breakdown(name: "#{@politician.firstname} #{@politician.last_name}", cycle: "2012")%>
  <% local_dollars = [["In-State", locals["In-State"][1].to_i],["Out-of-State", locals["Out-of-State"][1].to_i]]%>
  <% ld_chart = local_dollars.to_json.html_safe %>

  <% type_dollars = [["Individuals", types["Individuals"][1].to_i],["PACs", types["PACs"][1].to_i]] %>
  <% t_chart = type_dollars.to_json.html_safe %>

</div>

<script>
function loadTopIndustriesChart() {
  $('#industry-chart').highcharts({
      chart: {
          type: 'pie',
          options3d: {
      enabled: false,
              alpha: 45,
              beta: 0
          }
      },
      title: {
          text: 'Top Donor Industries'
      },
      tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              depth: 35,
              dataLabels: {
                  enabled: true,
                  format: '{point.name}'
              }
          }
      },
      series: [{
          type: 'pie',
          name: 'Browser share',
          data: <%= chart %>,
      }]
  });
}
$(loadTopIndustriesChart);

$('#top-industries-button').on('click', loadTopIndustriesChart);

</script>

<script>

function loadTopDonorsChart() {
$(function () {
    var contribChart = $('#contributors-chart').highcharts({
        chart: {
            type: 'pie',
            options3d: {
              enabled: false,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Top Contributors'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Contributions',
            data: <%= contributors_chart %>,
        }]
    });

    // $('.tab').on('click', function() {
    //   contribChart.APICall();
    // })
});
}

$(loadTopDonorsChart);

$('#top-donors-button').on('click', loadTopDonorsChart);

</script>

<script>
function loadHistoryChart() {
$(function () {
        $('#history').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Campaign Contributions'
            },
            subtitle: {
                text: 'Source: Sunlight Foundation'
            },
            xAxis: [{
                categories: <%= years %>
            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '${value}',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                },
                title: {
                    text: '$USD',
                    style: {
                        color: Highcharts.getOptions().colors[1]
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: 'Contributions',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                labels: {
                    format: '{value} Count',
                    style: {
                        color: Highcharts.getOptions().colors[0]
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 100,
                floating: true,
                backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
            },
            series: [{
                name: 'Count',
                type: 'column',
                yAxis: 1,
                data: <%= counts %>,
                tooltip: {
                    valueSuffix: 'count'
                }

            }, {
                name: 'Contributions',
                type: 'spline',
                data: <%= dollars %>,
                tooltip: {
                    valueSuffix: '$'
                }
            }]
        });
    });
}

$(loadHistoryChart);
$('#history-button').on('click', loadHistoryChart);

</script>
<script>
function loadLocalBreakdown() {
  $('#breakdown-local').highcharts({
      chart: {
          type: 'pie',
          options3d: {
      enabled: true,
              alpha: 45,
              beta: 0
          }
      },
      title: {
          text: 'In-State/Out-of-State Breakdown'
      },
      tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              depth: 35,
              dataLabels: {
                  enabled: true,
                  format: '{point.name}'
              }
          }
      },
      series: [{
          type: 'pie',
          name: 'Contributions',
          data: <%= ld_chart %>,
      }]
  });
}
$(loadTopIndustriesChart);

$('#breakdown-button').on('click', loadLocalBreakdown);

</script>
<script>
function loadTypeBreakdown() {
  $('#breakdown-type').highcharts({
      chart: {
          type: 'pie',
          options3d: {
      enabled: true,
              alpha: 45,
              beta: 0
          }
      },
      title: {
          text: 'Individual/PAC Contribution Breakdown'
      },
      tooltip: {
          pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              depth: 35,
              dataLabels: {
                  enabled: true,
                  format: '{point.name}'
              }
          }
      },
      series: [{
          type: 'pie',
          name: 'Contributions',
          data: <%= t_chart %>,
      }]
  });
}
$(loadTypeBreakdown);

$('#breakdown-button').on('click', loadTypeBreakdown);

</script>


<!--
<%= link_to 'Back', politicians_path %>
-->
