
<p id="notice"><%= notice %></p>
<ul class="tabs" data-tab>
      <li class="tab-title active"><a href="#panel2-1">Top Industries</a></li>
      <li class="tab-title"><a href="#panel2-2">Top Organizations</a></li>
      <li class="tab-title"><a href="#panel2-3">Bio</a></li>
      <li class="tab-title"><a href="#panel2-4">History</a></li>
</ul>
  <div class="large-2 columns">
      <p id='congress-name'>
      <strong><%= @politician.title %>. <%= @politician.firstname %> <%= @politician.last_name %></strong>
      </p>
      <div id='bio-photo'>
        <img src='https://s3.amazonaws.com/congress-media/bio-pictures/200x250/<%= @politician.bioguide_id %>.jpg' />
      </div>

      <div>
          <strong>Party:</strong>
          <%= @politician.party %>
          <br>
          <strong>State:</strong>
          <%= @politician.state %>
          <br>
          <strong>District:</strong>
          <%= @politician.district %>
          <br>
          <strong>Birthdate:</strong>
          <%= @politician.birthdate.to_date.to_formatted_s(:long_ordinal) %>
          <br>
          <strong>Bioguide:</strong>
          <%= @politician.bioguide_id %>
     <!--      <br>
          <strong>Votesmart:</strong>
          <%= @politician.votesmart_id %>
          <br>
          <strong>Govtrack:</strong>
          <%= @politician.govtrack_id %>
          <br>
          <strong>Crp:</strong>
          <%= @politician.crp_id %>
          <br> -->
      </div>
      <div>

    </div>
  </div>



  <div id="donors">
      <div class="tabs-content">
        <div class="content active" id="panel2-1">
          <div class="large-5 columns">
            <table class="formatted-data-table">
              <h3>Top Donor Categories</h3>
              <thead class="t-head">
                <tr>
                  <th>Category</th>
                  <th>Count</th>
                  <th>Amount</th>
                </tr>
              </thead>
                <tbody>
                    <% data = donor_industries_chart(name: "#{@politician.firstname} #{@politician.last_name}", cycle: "2012") %>
                    <% chart = data.to_json.html_safe %>
                    <% name = "#{@politician.firstname} #{@politician.last_name}" %>
                    <% puts name %>
                    <% industries = top_industries(name: name, cycle:"2012") %>
                    <% industries.each do |industry| %>
                    <tr>
                      <td><%= industry["name"].downcase.capitalize %></td>
                      <td><%= industry["count"] %></td>
                      <td>$<%= industry["amount"] %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
          </div>
          <div id="container" class="large-5 columns"></div>
        </div>

        <div class="content" id="panel2-2">
          <div id="contributors-chart" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
         <table class="formatted-data-table">
            <h3>Top Donor Organizations</h3>
            <thead class="t-head">
              <tr>
                <th>Category</th>
                <th>Count</th>
                <th>Total</th>
                <th>Employees</th>
                <th>Direct</th>
              </tr>
            </thead>
              <tbody>
                  <% first = @politician.firstname %>
                  <% puts first %>
                  <% last = @politician.last_name %>
                  <% puts last %>
                  <% contributors = top_contributors(name: name, cycle: "2012") %>
                  <% contributors.each do |contributor| %>
                  <tr>
                    <td><%= contributor["name"] %></td>
                    <td><%= contributor["total_count"] %></td>
                    <td>$<%= contributor["total_amount"] %></td>
                    <td>$<%= contributor["employee_amount"] %></td>
                    <td>$<%= contributor["direct_amount"] %></td>
                  </tr>
                <% end %>
              </tbody>

          </table>
        </div>
      </div>
  </div>

<div>
  <% data = donor_industries_chart(name: "#{@politician.firstname} #{@politician.last_name}", cycle: "2012") %>
  <% chart = data.to_json.html_safe %>

  <% data = donor_contributors_chart(name: "#{@politician.firstname} #{@politician.last_name}", cycle: "2012") %>
  <% contributors_chart = data.to_json.html_safe %>

</div>

<script>
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
        enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Top Donor Industries'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: <%= chart %>,
        }]
    });
});

</script>

<script>
$(function () {
    $('#contributors-chart').highcharts({
        chart: {
            type: 'pie',
            options3d: {
              enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: 'Top Contributors'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: <%= contributors_chart %>,
        }]
    });
});

</script>

<!--
<%= link_to 'Back', politicians_path %>
-->
