<div class="row">
      <div class="large-5 columns">
        <form action="/stats" method="get">
        <label>Cycle
          <select>
            <option cycle=""></option>
            <option cycle="2014">2014</option>
            <option cycle="2012">2012</option>
            <option cycle="2010">2010</option>
            <option cycle="2008">2008</option>
            <option cycle="2006">2006</option>
            <option cycle="2004">2004</option>
            <option cycle="2002">2002</option>
            <option cycle="2000">2000</option>
          </select>
        </label>
      </div>
      <div class="large-5 columns">
        <label>Limit
          <select>
            <option limit=""></option>
            <option limit="100">100</option>
            <option limit="75">75</option>
            <option limit="50">50</option>
            <option limit="25">25</option>
            <option limit="10">10</option>
          </select>
        </label>
      </div>
      <input name="commit" type="submit" value="Search" />
    </form>
  </div>
</div>

<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel2-1">Politicians</a></li>
  <li class="tab-title"><a href="#panel2-2">Individuals</a></li>
  <li class="tab-title"><a href="#panel2-3">Organizations</a></li>
  <li class="tab-title"><a href="#panel2-4">Industries</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel2-1">
    <div id="table-container">
        <table id="format-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Seat</th>
                <th>Party</th>
                <th>State</th>
                <th>Total Amount</th>
                <th>Donation Count</th>
              </tr>
            </thead>

            <tbody>
              <% @top_pols.each do |politician| %>
                <tr>
                  <% m = Madison.new %>
                  <td><%= politician["name"].titleize %></td>
                  <td><%= politician["seat"] %></td>
                  <td><%= party_abbrev(politician["party"]) %></td>
                  <td><%= m.get_name(politician["state"]) %></td>
                  <td>$<%= number_with_delimiter(politician["amount"]) %></td>
                  <td><%= number_with_delimiter(politician["count"]) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
  </div>
  <div class="content" id="panel2-2">
    <div id="table-container">
        <table class="format-table-1">
            <thead>
              <tr>
                <th>Name</th>
                <th>Total Amount</th>
                <th>Donation Count</th>
              </tr>
            </thead>

            <tbody>
              <% @top_ind.each do |individual| %>
                <tr>
                  <td><%= individual["name"].titleize %></td>
                  <td>$<%= number_with_delimiter(individual["amount"]) %></td>
                  <td><%= number_with_delimiter(individual["count"]) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
  </div>
  <div class="content" id="panel2-3">
    <div id="table-container">
        <table class="format-table-1">
            <thead>
              <tr>
                <th>Name</th>
                <th>Total Amount</th>
                <th>Donation Count</th>
              </tr>
            </thead>

            <tbody>
              <% @top_orgs.each do |organization| %>
                <tr>
                  <td><%= organization["name"].titleize %></td>
                  <td>$<%= number_with_delimiter(organization["amount"]) %></td>
                  <td><%= number_with_delimiter(organization["count"]) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

  </div>
  <div class="content" id="panel2-4">
    <div id="table-container">
        <table class="format-table-1">
            <thead>
              <tr>
                <th>Name</th>
                <th>Total Amount</th>
                <th>Donation Count</th>
              </tr>
            </thead>

            <tbody>
              <% @top_industries.each do |industry| %>
                <tr>
                  <td><%= industry["name"].titleize %></td>
                  <td>$<%= number_with_delimiter(industry["amount"]) %></td>
                  <td><%= number_with_delimiter(industry["count"]) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
  </div>
</div>
