<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <title><%= content_for?(:title) ? yield(:title) : "Congre$$" %></title> -->

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-3d.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>


    <%= csrf_meta_tags %>
  </head>

  <body>
  <div>
    <nav class="top-bar" data-topbar>

    </nav>
  </div>


    <%= yield %>
    <script>
      $('.formatted-data-table').dataTable({
        "sPaginationType": "foundation"
      });
    </script>
  </body>
</html>
