<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <title><%= content_for?(:title) ? yield(:title) : "Congre$$" %></title> -->

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-3d.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
<!--
    <style>
     * {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid red;
        }

    </style>
 -->

    <%= csrf_meta_tags %>
  </head>

  <body>
  <div>
    <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <ul class="button-group radius even-4">
          <li><a class="button" href="/">Home</a></li>
          <li><a class="button" href="politicians#index">Congress</a></li>
          <li><a class="button" href="stats#index">Stats</a></li>
          <li><a class="button" href="home#about">About</a></li>
      </ul>
    </ul>

    <!-- Left Nav Section -->
    <ul id="white-logo" class="left">
      <li><%= image_tag "congress-black-sm-2.png" %></li>
    </ul>
  </section>

    </nav>
  </div>


    <%= yield %>

<div id="footer">
  <div class="row">
    <div class="eight columns">
    </div>
    <div class="four columns">
     </div>

  </div>
</div>
    <script>
      $('.formatted-data-table').dataTable({
        "sPaginationType": "foundation"
      });
    </script>
    <script>
          $(window).bind("load", function () {
          var footer = $("#footer");
          var pos = footer.position();
          var height = $(window).height();
          height = height - pos.top;
          height = height - footer.height();
          if (height > 0) {
              footer.css({
                  'margin-top': height + 'px'
              });
          }
      });

    </script>
  </body>
</html>
